@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#menu-h{
    background-color: rgb(37, 37, 39);

}
#menu-h h2{
    padding: 10px;
    color: white;
}
